body {
    margin: 20px auto;

    color: #fff;
    background-color: #2196f3;

    font-family: 'Open Sans';
    text-align: center;
}

#title {
    margin: 5px auto;

    font-family: 'Ubuntu';
    font-size: 3.5em;
}

#subtitle {
    margin: 5px;
}

#main-body {
    max-width: 425px;
}

#text-box {
    margin: 20px 10px;
    height: 200px;
}

#number-box {
    padding: 5px;
    width: 32px;
    height: 30px;

    resize: none;
    overflow-y: hidden;
}

#sum-btn {
    margin: 20px auto;

    cursor: pointer;
}

#summarized-text-box {
    margin: auto 10px;
    padding: 10px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
