<!DOCTYPE html>
<html lang="en">

<head>
    <title>Predicio</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet">
</head>

<body>
    <div id="header" class="row">
        <div class="col">
            <h1 id="title">Predicio</h1>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h6 id="subtitle">Yearly income predictor</h6>
        </div>
    </div>

    <div id="body" class="container">
        <form onsubmit="return false;">
            <div class="form-group">
                <label for="age-input">Age</label>
                <input type="number" class="form-control" id="age-input" placeholder="Enter age">
            </div>
            <div class="form-group">
                <label for="workclass-input">Workclass</label>
                <select class="form-control" id="workclass-input">
                    <option value="Private">Private</option>
                    <option value="Federal-gov">Federal government</option>
                    <option value="Local-gov">Local government</option>
                    <option value="State-gov">State government</option>
                    <option value="Self-emp-inc">Self-employment (incorporated)</option>
                    <option value="Self-emp-not-inc">Self-employment (unincorporated)</option>
                    <option value="Without-pay">Without pay</option>
                    <option value="Never-worked">Never worked</option>
                </select>
            </div>
            <div class="form-group">
                <label for="education-input">Education</label>
                <select class="form-control" id="education-input">
                    <option value="Preschool">Preschool</option>
                    <option value="1st-4th">1st-4th</option>
                    <option value="5th-6th">5th-6th</option>
                    <option value="7th-8th">7th-8th</option>
                    <option value="9th">9th</option>
                    <option value="10th">10th</option>
                    <option value="11th">11th</option>
                    <option value="12th">12th</option>
                    <option value="HS-grad">High school</option>
                    <option value="Some-college">Some college</option>
                    <option value="Assoc-acdm">Associate</option>
                    <option value="Assoc-voc">Vocational</option>
                    <option value="Bachelors">Bachelor's</option>
                    <option value="Masters">Master's</option>
                    <option value="Doctorate">Doctorate</option>
                    <option value="Prof-school">Professor</option>
                </select>
            </div>
            <div class="form-group">
                <label for="education-number-input">Education number</label>
                <input type="number" class="form-control" id="education-number-input" placeholder="Enter education number">
            </div>
            <div class="form-group">
                <label for="marital-status-input">Marital status</label>
                <select class="form-control" id="marital-status-input">
                    <option value="Never-married">Never married</option>
                    <option value="Married-civ-spouse">Married (civilian spouse)</option>
                    <option value="Married-AF-spouse">Married (Armed Forces spouse)</option>
                    <option value="Married-spouse-absent">Married (spouse absent)</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Separated">Separated</option>
                    <option value="Divorced">Divorced</option>
                </select>
            </div>
            <div class="form-group">
                <label for="occupation-input">Occupation</label>
                <select class="form-control" id="occupation-input">
                    <option value="Adm-clerical">Administrative/clerical</option>
                    <option value="Armed-Forces">Armed Forces</option>
                    <option value="Craft-repair">Craft repair</option>
                    <option value="Exec-managerial">Executive/managerial</option>
                    <option value="Farming-fishing">Farming/fishing</option>
                    <option value="Handlers-cleaners">Handlers/cleaners</option>
                    <option value="Machine-op-inspct">Machine operational</option>
                    <option value="Priv-house-serv">Private house servant</option>
                    <option value="Prof-specialty">Professional specialty</option>
                    <option value="Protective-serv">Protective servant</option>
                    <option value="Sales">Sales</option>
                    <option value="Tech-support">Tech support</option>
                    <option value="Transport-moving">Transportation</option>
                    <option value="Other-service">Other service</option>
                </select>
            </div>
            <div class="form-group">
                <label for="relationship-input">Relationship</label>
                <select class="form-control" id="relationship-input">
                    <option value="Husband">Husband</option>
                    <option value="Wife">Wife</option>
                    <option value="Own-child">Child</option>
                    <option value="Other-relative">Other relative</option>
                    <option value="Unmarried">Unmarried</option>
                    <option value="Not-in-family">Not in family</option>
                </select>
            </div>
            <div class="form-group">
                <label for="race-input">Race</label>
                <select class="form-control" id="race-input">
                    <option value="Amer-Indian-Eskimo">American Indian/Eskimo</option>
                    <option value="Asian-Pac-Islander">Asian/Pacific Islander</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sex-input">Sex</label>
                <select class="form-control" id="sex-input">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="capital-gain-input">Capital gain</label>
                <input type="number" class="form-control" id="capital-gain-input" placeholder="Enter capital gain">
            </div>
            <div class="form-group">
                <label for="capital-loss-input">Capital loss</label>
                <input type="number" class="form-control" id="capital-loss-input" placeholder="Enter capital loss">
            </div>
            <div class="form-group">
                <label for="hours-per-week-input">Hours per week</label>
                <input type="number" class="form-control" id="hours-per-week-input" placeholder="Enter hours per week">
            </div>
            <div class="form-group">
                <label for="native-country-input">Native country</label>
                <select class="form-control" id="native-country-input">
                    <option value="United-States">United States</option>
                    <option value="Outlying-US(Guam-USVI-etc)">Outlying US (Guam, Virgin Islands, etc)</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="China">China</option>
                    <option value="Columbia">Columbia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Dominican-Republic">Dominican Republic</option>
                    <option value="France">France</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="El-Salvador">El Salvador</option>
                    <option value="England">England</option>
                    <option value="Germany">Germany</option>
                    <option value="Greece">Greece</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="India">India</option>
                    <option value="Iran">Iran</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Laos">Laos</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Peru">Peru</option>
                    <option value="Philipines">Philipines</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto-Rico">Puerto Rico</option>
                    <option value="Scotland">Scotland</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Trinidad&Tobago">Trinidad & Tobago</option>
                    <option value="Holand-Netherlands">The Netherlands</option>
                    <option value="South">South Korea</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Yugoslavia">Yugoslavia</option>
                </select>
            </div>
            <button type="submit" id="predict-btn" class="btn btn-primary">Predict</button>
        </form>

        <div class="row">
            <div id="predicted-text-box" align="left"></div>
        </div>
    </div>

    <div id="footer" class="row">
        <div class="col-12 center-block">
            <span id="authors">
                Devin | Gian | Hero | Rizki
            </span>
        </div>
    </div>
</body>

</html>
